* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;
    color:darkslategray;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    margin: 50px auto;
    background-color: bisque;
    border-radius: 15px;
    align-items: center;
    text-align: left;
    transition: all 0.5s;
}

h4 {
    padding: 10px;
    padding-top: 20px;
}

#heading {
    padding: 20px;
}

#emaill, #subjectt {
    width: 450px;
    height: 30px;
    transition: all 0.5s;
}

#desc {
    width: 450px;
    height: 200px;
    transition: all 0.5s;
}

#btn {
    margin-top: 20px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    transition: all 0.5s;
}

.main-container:hover {
    width: 520px;
    height: 570px;
}

#emaill:hover, #subjectt:hover {
    width: 455px;
    height: 35px;
}

#desc:hover {
    width: 460px;
    height: 210px;
}

#btn:hover {
    width: 100px;
    height: 40px;
    background-color:antiquewhite;
}