.main-container {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#search-bar {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #f8541e;
    border-radius: 5px;
}

#book-list {
    list-style: none;
    padding: 0;
    width: 300px;
    margin: 0;
}

#book-list li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#book-list li:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
}

.favorite {
    font-weight: bold;
    color: #f8541e !important;
}

button {
    background-color: #f8541e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ee4a14;
    transform: scale(1.05);
}